<header>
  <mat-toolbar color="primary" style="height: 50px" class="fixed-top">
    <button mat-button routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/admin/dash']">Accueil</span>
    <button mat-button style="height: 100%; border-radius: 0; margin-left: 5px;" [routerLink]="['/home']"
      routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button style="height: 100%; border-radius: 0; margin-left: 5px;" [matMenuTriggerFor]="menu">
      <!-- <mat-icon>more_vert</mat-icon> -->
      Particulier
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/particulier/depannage-a-domicile', 4]">
        <span>Dépannage à domicile</span>
      </button>
      <button mat-menu-item [routerLink]="['/particulier/reparations-et-maintenance-en-atelier', 5]">
        <!-- <mat-icon>notifications_off</mat-icon> -->
        <span>Formation Informatique</span>
      </button>
      <button mat-menu-item [routerLink]="['/particulier/formation-informatique', 6]">
        <span>Réparations et maintenance en atelier</span>
      </button>

    </mat-menu>
    &nbsp;
    <button mat-button style="height: 100%; border-radius: 0; margin-left: 5px;" [matMenuTriggerFor]="menu2">
      <!-- <mat-icon>more_vert</mat-icon> -->
      Services professionnels
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [routerLink]="['/services-professionnels/depannage', 1]">
        <span>Depannage</span>
      </button>
      <button mat-menu-item [routerLink]="['/services-professionnels/reparation', 2]">
        <!-- <mat-icon>notifications_off</mat-icon> -->
        <span>Reparation</span>
      </button>
      <button mat-menu-item [routerLink]="['/services-professionnels/formation', 3]">
        <span>Formations</span>
      </button>
    </mat-menu>

    <app-loader class="ml-2"></app-loader>

    <span class="example-spacer"></span>

    <button mat-button class="largeBtn" [routerLink]="['/a-propos/nous', 8]">
      Nous
    </button>

    <ng-container *ngIf="isConnected; else elseTemplate">
      <button mat-button class="largeBtn" [matMenuTriggerFor]="menu">
        {{user.email}}&nbsp;
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/home']" (click)="disconnect()">
          <mat-icon>clear</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-button class="largeBtn" [routerLink]="['/auth']" routerLinkActive="active">
        <mat-icon>vpn_key</mat-icon>Login
      </button>
    </ng-template>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
